<!DOCTYPE html>
<html>
  <body>
    <h1>Boas vindas ao Contatinho-API, <%= @user.email %>!</h1>
    <p>
        Você se cadastrou com sucesso no <strong>Contatinho-API</strong>.
    </p>
  </body>
</html>
